@import "../node_modules/dockview/dist/styles/dockview.css";

.dockview {
  --dv-background-color: hsl(var(--background));
  --dv-paneview-active-outline-color: hsl(var(--border));
  --dv-drag-over-background-color: color-mix(
    in srgb,
    hsl(var(--primary)) 20%,
    transparent
  );
  --dv-drag-over-border-color: hsl(var(--foreground));
  --dv-tabs-container-scrollbar-color: hsl(var(--primary));
  --dv-floating-box-shadow: 4px 4px 4px 0px
    color-mix(in srgb, black 20%, transparent);
  --dv-group-view-background-color: hsl(var(--background));
  --dv-tabs-and-actions-container-background-color: hsl(var(--muted));
  --dv-activegroup-visiblepanel-tab-background-color: hsl(var(--background));
  --dv-activegroup-hiddenpanel-tab-background-color: hsl(var(--muted));
  --dv-inactivegroup-visiblepanel-tab-background-color: hsl(var(--background));
  --dv-inactivegroup-hiddenpanel-tab-background-color: hsl(var(--muted));
  --dv-activegroup-visiblepanel-tab-color: hsl(var(--foreground));
  --dv-activegroup-hiddenpanel-tab-color: hsl(var(--muted-foreground));
  --dv-inactivegroup-visiblepanel-tab-color: hsl(var(--muted-foreground));
  --dv-inactivegroup-hiddenpanel-tab-color: hsl(var(--muted-foreground));
  --dv-separator-border: hsl(var(--border));
}

.tabs-container {
  height: 3rem;
  display: flex;
  align-items: end;
}

.tab {
  @apply rounded-t-md;
  height: 2.5rem;
  border: 1px solid transparent;
}

.tab.active-tab {
  border: 1px solid hsl(var(--border));
  border-bottom: 1px solid transparent;

  &:first-child {
    border-top-left-radius: 0;
    border-left: 1px solid transparent;

  }
}

.void-container {
  border-bottom: 1px solid hsl(var(--border));
}

.inactive-tab {
  border-bottom: 1px solid hsl(var(--border));
}
